<div class="info" [style.background-image]="'url(' + info.wallpaper + ')'" *ngIf="info.title">
  <h3 class="">{{info.title}}</h3>
  <p class="">{{info.description}}</p>
</div>

<div class="linkButtons" *ngIf="navigationLinks?.seasons">
  <button (click)="setLanguage('esp')" [ngStyle]="{'background-color': language === 'esp' ? '#084d5d' : ''}">CASTELLANO</button>
  <button (click)="setLanguage('lat')" [ngStyle]="{'background-color': language === 'lat' ? '#084d5d' : ''}">LATINO</button>
</div>

<div class="linkButtons" *ngIf="navigationLinks?.seasons">
  <button (click)="goToEpisode('previous')" [disabled]="!navigationLinks?.anterior">Anterior</button>
  <button (click)="goToEpisode('seasons')" [disabled]="!navigationLinks?.seasons">Temporadas</button>
  <button (click)="goToEpisode('next')" [disabled]="!navigationLinks?.siguiente">Siguiente</button>
</div>

<div class="buttons">
  <button *ngFor="let iframe of safeHtmlArray; let i = index" (click)="selectIframe(i)"
    [ngStyle]="{'background-color': pressedButtonIndex === i ? '#084d5d' : ''}">
    Opción {{i + 1}}
  </button>
</div>

<div *ngIf="data?.length === 0">
  <h3>No hay enlaces disponibles.</h3>
</div>

<div *ngIf="selectedIframe !== null" class="reproducers">
  <div [innerHTML]="safeHtmlArray[selectedIframe]" id="iframeContainer{{selectedIframe}}" class="iframeReproducer">
  </div>

</div>