
.reproducers  {
  display: flex;
  width: 100vw;
  height: 90vh;

  .iframeReproducer {
    position: relative;
    overflow: hidden;
    width: 100vw;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
}

p {
  color: white;
  // background-color: rgba(0, 0, 0, 0.425);
  // padding: 6px;
}

h3 {
  color: white;
}


.wallpaper {
  height: 30vh;
  background-size: cover; /* La imagen se escala para cubrir completamente el contenedor sin deformarse */
  background-position: center; /* Centra la imagen de fondo en el contenedor */
  margin: -2em -3em -1em -3em !important;
  position: relative;
  margin-bottom: 2em !important;
  // width: 100%;
  // height: 300px; /* Ajusta la altura según tus necesidades */
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px; /* Ajusta el margen según tus necesidades */
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px; /* Ajusta el margen según tus necesidades */
}

.info {
  margin-bottom: 4em;
}

.buttons {
  gap: 5px;
  
  button {
    background: #0C8CAE;
    border: 1px solid #0C8CAE;
    color: #fff;
    padding: 0.5em;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
}

.linkButtons {
  display: flex;
  gap: 3px;
  margin-bottom: 1em;

  button {
    color: white;
    border: 1px solid #0C8CAE;
    background: #466872;
    padding: 0.5em;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
}


