<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="../../../../assets/img/logo.webp" width="90" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>

      <a class="navbar-item" [routerLink]="['/discover', 'peliculas', 1, '']">
        Pelis
      </a>
      <a class="navbar-item" [routerLink]="['/discover', 'series', 1, '']">
        Series
      </a>
      <!-- <a class="navbar-item" [routerLink]="['/discover', 'animes', 1, '']">
        Animación
      </a> -->

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Docs
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/docs">
            Conectarse desde otro dispositivo
          </a>
          <!-- <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a> -->
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped"> 
            <div  class="flex-form">
              <label for="from">
                <i class="ion-location"></i>
              </label>
              <input type="search" placeholder="..." [(ngModel)]="query" (keyup.enter)="searchMedia()">
              <input type="submit" value="Buscar" (click)="searchMedia()">
            </div>
        </div>
      </div>
    </div>
  </div>
</nav>








