<div class="wallpaper" [style.background-image]="'url(' + info.wallpaper + ')'" *ngIf="info.title">
  <h2 class="top-left">{{info.title}}</h2>
  <p class="bottom-left">{{info.description}}</p>
</div>

<div class="tv-show-container">
  <div *ngFor="let season of data; let i = index" class="season-container">
    <h2 (click)="toggleSeason(i)">
      Temporada {{ season.seasonNumber }}
      <!-- <span>{{ isSeasonOpen(i) ? '[-]' : '[+]' }}</span> -->
    </h2>
    <div *ngIf="isSeasonOpen(i)" class="episode-list">
      <div *ngFor="let episode of season.episodes" (click)="goTo('https://playdede.us' + episode.href)" class="episode-item">
        <div class="episode-image"><img [src]="episode.imgSrc" alt="{{ episode.title }}"></div>
        <div class="episode-title">
          <p class="title">{{ episode.title }}</p>
          <p class="numerando">{{ episode.numerando }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
